<div class="settings">
	<span class="protocol">https:// </span>
	<mat-form-field>
	    <input matInput placeholder="Test Server" [(ngModel)]="server">
	</mat-form-field>
  	<button mat-button color="primary" (click)="start()">Start</button>
</div>