.settings{
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.protocol{
	color: #999;
	padding-right: 10px;
}