<div class="container">
  <div>
    <mat-tab-group (selectedTabChange)="reloadVideo()">
      <mat-tab label="Video">
        <ng-template tabHeading>
          <i class="glyphicon glyphicon-facetime-video"></i> Video
        </ng-template>
        <div id="videoContainer" [hidden]="hiddenVideo">

          <button class="button-close"  mat-mini-fab (click)="endCall()" color="warn">
          	<mat-icon>close</mat-icon></button>
          <video #localVideo
                 class="local-video"
                 id="videoLocal"
                 height="auto"
                 autoplay="true">
          </video>

          <div *ngIf="callService.remoteVideo">
            <video  #remoteVideo id="remoteVidos"
                   class="remote-video"
                   autoplay="true"
                   [src]="callService.remoteVideo">
            </video>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Chat">
        <ng-template tabHeading>
          <i class="glyphicon glyphicon-bell"></i>Chat
        </ng-template>

        <mat-grid-list cols="4">
		  <mat-grid-tile colspan="4">

		  	<mat-list role="list" #chatContent *ngIf="chatMessages?.length!=0" class="full-width chat-content">
			  <mat-list-item role="listitem" *ngFor="let chatMessage of chatMessages" [class.message-agent]="'agent' == chatMessage.from">{{chatMessage.body}}</mat-list-item>
	        	<mat-divider></mat-divider>
			</mat-list>
		  </mat-grid-tile>
		  <mat-grid-tile colspan="3">
		  	<mat-form-field class="full-width">
			    <textarea matInput placeholder="Leave a comment" [(ngModel)]="data.message" class="form-control" (keydown.enter)="send()"></textarea>
			 </mat-form-field></mat-grid-tile>
		  <mat-grid-tile>
		  		<button  mat-flat-button (click)="send()">send</button></mat-grid-tile>
		</mat-grid-list>


      </mat-tab>
      <mat-tab label="Settings">
      	<mat-list role="list">
		  <mat-list-item role="listitem"><span class="option">Test server: </span>  {{server}}</mat-list-item>
		</mat-list>
      	<mat-divider></mat-divider></mat-tab>
    </mat-tab-group>
  </div>
</div>




