.container{
  position: relative;
}


.remote-video {
  position: absolute;
  z-index: 1;
  display: block;
  visibility: visible;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.local-video {
  position: absolute;
  z-index: 2;
  display: block;
  visibility: visible;
  pointer-events: none;
  opacity: 1;
  object-fit: cover;
  top: 40px;
  right: 40px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 200px;
}

#videoContainer {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 67vh;
  z-index: 99;
  transition: all 1s;
  border-radius: 10px;
  background-color: white;
  border: solid 1px #eaeaea;

}
#videoContainer .button-close{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}
.chat-content mat-list-item{
	text-align: left;
}

.chat-content mat-list-item.message-agent{
	background-color: #e8e8e8;
	text-align: right;
	justify-content: flex-end;
}

.video-tab {
  height: 67vh;
}
