
<div class="text-center">
    <h4 mat-dialog-title>{{title}}</h4>

    <h3 *ngIf="status">{{status}}</h3>

    <div class="cssload-squeeze" *ngIf="isWait" >
        <span></span><span></span><span></span><span></span><span></span>
    </div>

    <button *ngIf="isShowButton"  mat-raised-button color="warn" type="button" (click)="dialogRef.close()">OK</button>

    <button *ngIf="isShowCancelButton"  mat-button type="button" (click)="cancel()">Cancel</button>

    <div *ngIf="isCloseVideo">
        <button  mat-raised-button type="button" color="accent" (click)="dialogRef.close()">No</button>
        <!-- Can optionally provide a result for the closing dialog. -->
        <button  mat-button color="warn" type="button" (click)="dialogRef.close(true)">Yes</button>
    </div>
</div>






