/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}
.text-center{
	text-align: center;
}

.option{
	color: #999;
    padding-right: 20px;
}


.full-width{
	width: 100%;
}

.cdk-overlay-dark-backdrop{
	background-color: white;
}


.mat-tab-body-wrapper {
    height: 100vw;
}

.cssload-squeeze{
	position:relative;
	display:block;
    margin: 30px auto;
    width: 100%;
}

.cssload-squeeze, .cssload-squeeze * {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-squeeze span {
	display: inline-block;
	height: 17px;
	width: 17px;
	background: #000;
	border-radius: 0px;
}

.cssload-squeeze span:nth-child(1) {
	animation: cssload-rotateX 2.6s 0.13s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-o-animation: cssload-rotateX 2.6s 0.13s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-ms-animation: cssload-rotateX 2.6s 0.13s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-webkit-animation: cssload-rotateX 2.6s 0.13s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-moz-animation: cssload-rotateX 2.6s 0.13s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(2) {
	animation: cssload-rotateX 2.6s 0.26s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-o-animation: cssload-rotateX 2.6s 0.26s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-ms-animation: cssload-rotateX 2.6s 0.26s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-webkit-animation: cssload-rotateX 2.6s 0.26s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-moz-animation: cssload-rotateX 2.6s 0.26s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(3) {
	animation: cssload-rotateX 2.6s 0.39s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-o-animation: cssload-rotateX 2.6s 0.39s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-ms-animation: cssload-rotateX 2.6s 0.39s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-webkit-animation: cssload-rotateX 2.6s 0.39s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-moz-animation: cssload-rotateX 2.6s 0.39s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(4) {
	animation: cssload-rotateX 2.6s 0.52s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-o-animation: cssload-rotateX 2.6s 0.52s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-ms-animation: cssload-rotateX 2.6s 0.52s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-webkit-animation: cssload-rotateX 2.6s 0.52s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-moz-animation: cssload-rotateX 2.6s 0.52s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(5) {
	animation: cssload-rotateX 2.6s 0.65s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-o-animation: cssload-rotateX 2.6s 0.65s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-ms-animation: cssload-rotateX 2.6s 0.65s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-webkit-animation: cssload-rotateX 2.6s 0.65s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
		-moz-animation: cssload-rotateX 2.6s 0.65s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}



@keyframes cssload-rotateX {
	0% {
		transform: rotateX(0deg);
	}
	50% {
		transform: rotateX(90deg) scale(0.5, 0.5);
		background: $corporate-color;
	}
	100% {
		transform: rotateX(0deg);
						transform: rotateX(0deg);
	}
}

@-o-keyframes cssload-rotateX {
	0% {
		-o-transform: rotateX(0deg);
	}
	50% {
		-o-transform: rotateX(90deg) scale(0.5, 0.5);
		background: $corporate-color;
	}
	100% {
		-o-transform: rotateX(0deg);
						transform: rotateX(0deg);
	}
}

@-ms-keyframes cssload-rotateX {
	0% {
		-ms-transform: rotateX(0deg);
	}
	50% {
		-ms-transform: rotateX(90deg) scale(0.5, 0.5);
		background: $corporate-color;
	}
	100% {
		-ms-transform: rotateX(0deg);
						transform: rotateX(0deg);
	}
}

@-webkit-keyframes cssload-rotateX {
	0% {
		-webkit-transform: rotateX(0deg);
	}
	50% {
		-webkit-transform: rotateX(90deg) scale(0.5, 0.5);
		background: $corporate-color;
	}
	100% {
		-webkit-transform: rotateX(0deg);
						transform: rotateX(0deg);
	}
}

@-moz-keyframes cssload-rotateX {
	0% {
		-moz-transform: rotateX(0deg);
	}
	50% {
		-moz-transform: rotateX(90deg) scale(0.5, 0.5);
		background: $corporate-color;
	}
	100% {
		-moz-transform: rotateX(0deg);
						transform: rotateX(0deg);
	}
}
